.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 80px; /*Fija la altura según diseño en figma*/
    position: sticky; /*para que el header se mantenga al scrollear*/
    top: 0px;
    backdrop-filter: blur(10px); /*Hace borrosos otros elementos cuando se pasa por arriba. por ahora no está funcionando.*/
}